.categoryList {
    display: flex;
    gap: 32px;
    width: 100%;
    height: 52px;
    padding: 12px;
    margin-bottom: 32px;

    justify-content: center;
    align-items: center;
}

.category_item {
    color: #6e5296;
    font-weight: 600;
    text-transform: uppercase;

    cursor: pointer;
}

.category_item:hover {
    color: #532494;
}