.table {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table td, .table th {
    border: 1px solid #AAAAAA;
    padding: 8px;
  }

.table thead {
  background: #6527be;
  background: -moz-linear-gradient(top, #8b5dce 0%, #743cc4 66%, #6527be 100%);
  background: -webkit-linear-gradient(
    top,
    #8b5dce 0%,
    #743cc4 66%,
    #6527be 100%
  );
  background: linear-gradient(to bottom, #8b5dce 0%, #743cc4 66%, #6527be 100%);
}

.table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  
}

.table_remove {
    width: 30px;
    padding: 4px;
    color: #6527be;
    font-weight: 900;
    border-style: none;
    cursor: pointer;
    background-color: transparent;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.quantity button{
  width: 30px;
  padding: 4px;
  color: #3f1875;
  font-weight: 900;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
}

.quantity button:hover{
  width: 30px;
  padding: 4px;
  color: #6225b8;
  font-weight: 900;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
}

.table_remove:hover{
    color: #fc0a52;
}

.table_total_price {
  font-weight: 900;
}
